# Ignore all dotfiles...
.*
# Except for
!.editorconfig
!.eslintignore
!.eslintrc.js
!.github
!.gitignore
!.mocharc.json
!.prettierignore
!.solhint.json
!.solhintignore
# node
node_modules
#Hardhat files
cache
artifacts
coverage
coverage.json
# generate
src/types
deployments/ganache
